<div class="d-flex align-items-center justify-content-center">
    <h1> Peer Evaluation Application</h1>
</div>

    <div class="row">
        <img src="https://blogin.co/uploads/images/peer-evaluations.jpg" class="eval offset-2 img-fluid col-md-8" alt="Responsive image">
    </div>

    <div class="row top-buffer" margin-top:20px;>
      <a href="/users/sign_in" class="offset-3 btn btn-success col-md-2 offset">Sign In</a>
      <a href="/users/sign_up" class="btn btn-info offset-1 col-md-2">Sign Up</a>
    </div>
