<h1>Editing presentation score</h1>

<%= render "form", presentation_score: @presentation_score %>

<br>

<div>
  <%= link_to "Show this presentation score", @presentation_score %> |
  <%= link_to "Back to presentation scores", presentation_scores_path %>
</div>
