<p style="color: green"><%= notice %></p>

<h1>Presentation scores</h1>

<div id="presentation_scores">
  <% @presentation_scores.each do |presentation_score| %>
    <%= render presentation_score %>
    <p>
      <%= link_to "Show this presentation score", presentation_score %>
    </p>
  <% end %>
</div>

<%= link_to "New presentation score", new_presentation_score_path %>
